#d-i live-installer/net-image string http://172.16.0.1/ubuntu/bionic/iso/ubuntu/casper/filesystem.squashfs

d-i debian-installer/locale string en_US
#d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us
d-i console-keymaps-at/keymap select us
d-i time/zone string US/Chicago
d-i netcfg/hostname string node
d-i console-setup/ask_detect boolean false
d-i console-setup/layoutcode string us
d-i console-setup/modelcode string SKIP
d-i clock-setup/utc boolean true

d-i mirror/country string manual
d-i mirror/http/hostname string {{ mirror_server }}
d-i mirror/http/directory string {{ mirror_path }}
d-i mirror/http/proxy string
d-i pkgsel/update-policy select none
tasksel tasksel/first multiselect standard, ssh-server
### Mirror settings
# If you select ftp, the mirror/country string does not need to be set.
#d-i mirror/protocol string ftp
#d-i mirror/country string manual
#d-i mirror/http/hostname string archive.ubuntu.com
#d-i mirror/http/directory string /ubuntu
#d-i mirror/http/proxy string

# To create a normal user account.
d-i passwd/user-fullname string {{ user_full }}
d-i passwd/username string {{ user_name }}
# Normal user's password, either in clear text
#d-i passwd/user-password password insecure
#d-i passwd/user-password-again password insecure
# or encrypted using a crypt(3) hash.
d-i passwd/user-password-crypted password {{ user_encrypted_pass }}
# Create the first user with the specified UID instead of the default.
#d-i passwd/user-uid string 1010
# The installer will warn about weak passwords. If you are sure you know
# what you're doing and want to override it, uncomment this.
#d-i user-setup/allow-password-weak boolean true

d-i partman-auto/init_automatically_partition select biggest_free
#d-i partman-auto/disk string /dev/mmcblk0p1
#d-i partman-auto/method string regular
#d-i partman-basicfilesystems/no_swap boolean false
#d-i partman-auto/expert_recipe string boot-root :: 1000 50 -1 ext4 \
#     $primary{ } $bootable{ } method{ format } \
#     format{ } use_filesystem{ } filesystem{ ext4 } \
#     mountpoint{ / } \
#    .
#d-i partman-auto/choose_recipe select boot-root
#d-i partman-auto/choose_recipe select atomic

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
#d-i partman-md/confirm boolean true
#d-i partman-partitioning/confirm_write_new_label boolean true
#d-i partman/choose_partition select finish
#d-i partman/confirm boolean true
#d-i partman/confirm_nooverwrite boolean true

### Simple GPT configuration w/o LVM
#d-i partman-auto/disk string /dev/sdb
#d-i partman-auto/disk string /dev/mmcblk0
d-i partman/alignment string cylinder
d-i partman/confirm_write_new_label boolean true
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt

d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select gpt-boot-root-swap
d-i partman-auto/expert_recipe string         \
   gpt-boot-root-swap ::                      \
      1 1 1 free                              \
         $bios_boot{ }                        \
         method{ biosgrub } .                 \
      200 200 200 fat32                       \
         $primary{ }                          \
         method{ efi } format{ } .            \
      512 512 512 ext3                        \
         $primary{ } $bootable{ }             \
         method{ format } format{ }           \
         use_filesystem{ } filesystem{ ext3 } \
         mountpoint{ /boot } .                \
      1000 20000 -1 ext4                      \
         $primary{ }                          \
         method{ format } format{ }           \
         use_filesystem{ } filesystem{ ext4 } \
         mountpoint{ / } .                    

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

#d-i grub-installer/bootdev  string /dev/mmcblk0p1
d-i grub-installer/bootdev  string default

#d-i preseed/late_command string in-target /bin/sh echo -c "DIR=/home/ansible/.ssh; mkdir -p \$DIR; wget -O \$DIR/authorized_keys https://172.16.01/ansible.pub; chmod 700 \$DIR; chmod 400 \$DIR/authorized_keys; chown -R ansible:ansible \$DIR; echo 'ansible ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers;"  
d-i finish-install/reboot_in_progress note
d-i preseed/late_command string in-target wget -P /tmp/ {{ webserver }}/{{ init_script_path }}/{{ init_script }}; in-target chmod u+x /tmp/{{ init_script }}; in-target /tmp/{{ init_script }}
#d-i preseed/run string init.sh
